DB_HOST=localhost
DB_PORT=5432
DB_USER=<dbusername>
DB_PASSWORD=<dbpassword>
DB_NAME=<dbname>
DB_SSLMODE=disable
PORT=<serverport>
JWT_SECRET=secret-code-string
JWT_EXPIRY_HOURS=24
GIN_MODE=release
# or debug
ALLOWED_ORIGINS=http://localhost:3000,
# http://localhost:5173,
http://localhost:<serverport>